<div class="w-full h-full dark:bg-gray-900">
    <form metod="get" action="{% url "projects:projects_search" %}" class="container mx-auto p-6">
        <!-- Search Bar -->
        <div class="flex items-center bg-gray-50 dark:bg-gray-800 shadow-md rounded-lg p-4 space-x-4">
            
            <!-- Search Input -->
            <input 
                name="title"
                type="text" 
                placeholder="Search projects..." 
                class="flex-grow text-gray-600 dark:text-gray-300 bg-transparent outline-none placeholder-gray-400 dark:placeholder-gray-500"
            />
            
            <!-- Search Button -->
            <button 
                type="submit"
                class="px-4 py-2 font-mono text-sm sm:text-md bg-green-600 text-white rounded-lg hover:bg-green-500 transition duration-300"
            >
                Search
            </button>

        </div>

        <!-- Tag Filtering Section -->
        <div class="mt-4">
            <!-- Scrollable Container -->
            <div class="relative">
                <!-- Tags Wrapper -->
                <div class="flex overflow-x-auto scrollbar-hide tags-container pb-3"> <!-- pb-3 for spacing at the bottom -->
                    <div class="flex flex-nowrap gap-3 font-mono font-semibold">
                        {% for tag in search_bar.search_tags %}
                        <div class="flex-shrink-0 py-3"> <!-- Prevent tags from shrinking -->
                            <input
                                id="{{tag.id}}"
                                type="checkbox"
                                class="hidden peer"
                                name="tags"
                                value="{{tag.id}}"
                            />
                            <label for="{{tag.id}}"
                                class="cursor-pointer text-sm sm:text-base hover:text-gray-50 hover:bg-green-500 transition duration-300 peer-checked:bg-green-500 peer-checked:text-gray-50 px-4 py-2 rounded-full bg-gray-200 dark:bg-gray-600 text-gray-700 dark:text-gray-50 shadow-sm hover:shadow-md peer-checked:shadow-md"
                            >
                                {{tag.name}}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            
                <!-- Gradient Fade Effect (Optional) -->
                <div class="absolute inset-y-0 right-0 w-10 bg-gradient-to-l from-white dark:from-gray-900 pointer-events-none"></div>
            </div>
        </div>
    </form>
</div>
