{% extends "portfolio/core/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="flex flex-col justify-center items-center p-12 md:h-full min-h-screen gap-6 bg-gray-50 dark:bg-gray-900">

    <div>
        <h1 class="text-3xl md:text-5xl text-green-600 dark:text-green-500 font-bold uppercase">{% trans "About me" %}</h1>
    </div>
    
    <div class="text-center justify-items-start">
        <p class="text-sm dark:text-gray-50 text-gray-500 italic font-thin my-4">{% trans "(In Short)" %}</p>
        <p class="text-2xl font-sans dark:text-gray-50 text-black font-extrabold">I <span class="text-red-500 font-bold">❤️</span> Django</p>
    </div>

    <div class="text-center">
        <ul class="list-none grid grid-cols-1 md:grid-cols-3 md:space-x-6 text-gray-500 gap-12 md:gap-6 dark:text-gray-50 text-lg">
            <!-- Biography Section -->
            <li class="list-item p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 hover:scale-105 transform hover:bg-green-50 dark:bg-gray-800 dark:hover:bg-green-900">
                <h2 class="font-mono font-bold text-green-500">{% trans "Biography" %} 👏</h2>
                <p class="font-sans font-light text-sm md:text-lg mt-4">
                    {% blocktrans %}Passionate and detail-oriented Django Developer with over 5 years of experience in building robust and scalable web applications.{% endblocktrans %}
                    
                </p>
            </li>
    
            <!-- Education Section -->
            <li class="list-item p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 hover:scale-105 transform hover:bg-green-50 dark:bg-gray-800 dark:hover:bg-green-900">
                <h2 class="font-mono font-bold text-green-500">{% trans "Education" %} 📚</h2>
                <p class="font-sans font-light text-sm md:text-lg mt-4">
                    {% blocktrans %}Bachelor in Computer Science, I focused on courses like Web Development, Database Systems, and Algorithms. I was also an active member of the Coding Club and participated in several hackathons, which helped me sharpen my problem-solving and teamwork skills.{% endblocktrans %}
                </p>
            </li>
    
            <!-- Skills Section -->
            <li class="list-item p-6 rounded-lg shadow-md hover:shadow-lg transition duration-300 hover:scale-105 transform hover:bg-green-50 dark:bg-gray-800 dark:hover:bg-green-900">
                <h2 class="font-mono font-bold text-green-500">{% trans "Skills" %} 🧗‍♂️</h2>
                <ul class="font-sans font-light text-sm md:text-lg list mt-4 space-y-2">
                    <li>Django, Django REST Framework</li>
                    <li>PostgreSQL, MySQL</li>
                    <li>RESTful APIs, Third-Party Integrations</li>
                    <li>Docker, AWS Basics</li>
                    <li>Redis, Celery</li>
                    <li>Git, GitHub</li>
                    <li>HTML, CSS, JavaScript</li>
                    <li>Problem-Solving, Team Collaboration</li>
                </ul>
            </li>
        </ul>
    </div>    
</div>

{% endblock content %}

{% block title %}
    Django Dev | About Me
{% endblock title %}
