{% extends "portfolio/core/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<content class="bg-gray-100 -z-10 text-gray-800 dark:bg-gray-900 dark:text-gray-100 h-screen flex items-center justify-center">
     <!-- Main Container -->
    <div class="container mx-auto flex flex-col md:flex-row items-center justify-center space-y-8 md:space-y-0 md:space-x-16">

        <div>
            <img src="{% static "core/side_img.png" %}" alt="side_img" class="hidden md:block">
        </div>

        <!-- Text Section -->
        <div class="flex flex-col items-center justify-items-center text-center md:justify-start md:text-left md:justify-items-start md:items-start">
            <h1 class="text-3xl md:text-5xl font-bold leading-tight">
                {% trans "Hello, I'm" %} <span class="text-green-600 dark:text-green-400"><br />Mohammad A. Hamdan</span>
            </h1>
            <p class="mt-4 text-lg md:text-xl text-gray-600 dark:text-gray-300 mx-4">
                {% trans "I'm a passionate developer who loves creating modern and efficient web applications." %}
            </p>
            <a
            class="flex flex-row justify-items-center text-center justify-center items-center w-fit font-mono my-4 font-bold gap-4 rounded-full p-4 bg-green-600 text-white shadow-lg shadow-green-700" 
            href="https://drive.usercontent.google.com/download?id=1nOFRGmp4ajwVuSS8YlqHLc69zbdmHZ5U&export=download&authuser=0">
                <p>{% trans "Download CV" %}</p>   
                <span>
                    <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3 15C3 17.8284 3 19.2426 3.87868 20.1213C4.75736 21 6.17157 21 9 21H15C17.8284 21 19.2426 21 20.1213 20.1213C21 19.2426 21 17.8284 21 15" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12 3V16M12 16L16 11.625M12 16L8 11.625" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </span>
            </a>
        </div>

        <!-- Image Section -->
        <div class="w-48 h-48 md:w-64 md:h-64">
            <img src="{% static "core/my_image.jpeg" %}" alt="My Photo" class="rounded-full shadow-lg object-cover w-full h-full border-gray-900">
        </div>
    </div>
</content>
{% endblock content %}

{% block title %}
    Django Dev | Home
{% endblock title %}